.tooorangey-editornote .umb-panel-header-name {cursor: pointer}
.tooorangey-editornote .umb-panel-header-name a i {text-decoration:none}

.tooorangey-editornote .sliding-panel i {}
.tooorangey-editornote .panel-body {padding-top:1em}
.tooorangey-editornote-dialog {
    

}